#Optional (Autolabeling to accelerate training)
OPENAI_API_KEY=sk-your-key-here
OPENAI_MODEL=gpt-4o

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000

# Streamlit
STREAMLIT_API_URL=http://localhost:8000

# CUDA
CUDA_VISIBLE_DEVICES=0
